.form-content {
    /* gap: 2em; */
}

.btn-limpiar{
  display: flex;
  color: white;
  background: transparent;
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 100px;
}

/* From Uiverse.io by themrsami */
.search-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: #333;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.521);
}

.search-input {
  display: block;
  width: 100%;
 /* background-color: #fff; */
  border: 2px solid #e5e7e7;
  border-radius: 1px;
<<<<<<< HEAD
  /* background: none; */
=======
>>>>>>> c79b666 (d)
  font-size: 0.98rem;
  padding: 4px 12px;
}
.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: #333;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1px;
  overflow: hidden;
  transition: all 0.3s ease;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.521);

}

.search-input {


}

.search-input::placeholder {
  color: #aaa;
  
}

#buscar{
    border: none;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #333;
  border-radius: 50%;
  /* margin-left: 2px; */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-icon svg {
  fill: #fff;
}

.search-icon:hover {
  background-color: #555;
}

.search-bar:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.search-bar:focus-within {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.4);
}
